.individualCountry {
  flex-grow: 1;
  padding: 2rem;
  position: relative;
}

.loading {
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.allInfo {
  display: flex;
  column-gap: 3rem;
  margin-top: 3rem;
}

.countryInfo {
  width: 55%;
}

.flag {
  box-shadow: 0rem 0rem 0.7rem -0.1rem #515151;
  width: 40%;
}

.flagImage {
  width: 100%;
  height: 100%;
}
.btnContainer {
  margin-top: 2rem;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
  padding: 0.3rem 1rem;
  background-color: #fff;
  border: 1px solid #c3c2c2;
  border-radius: 0.2rem;
  cursor: pointer;
  color: rgb(53, 53, 53);
}

.btn:hover {
  background-color: #e6e6e6;
}
.twoPart {
  margin-top: 1rem;
  display: flex;
  column-gap: 4rem;
}

.part1{
  width: 40%;
}
.part2 {
  width: 50%;
}

.allInfo p {
  font-weight: 700;
  margin-bottom: 0.3rem;
}

.allInfo span {
  font-weight: 500;
  color: #303030;
}

.border {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.border p {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  column-gap: 1.5rem;
}

.borderName {
  padding: 0.2rem 0.8rem;
  border-radius: 0.2rem;
  border: 1px solid #c3c2c2;
}
