.noPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  row-gap: 1rem;
}

.noPageDark{
  background-color :#202c37;
  color: #fff;
}

.heading {
  width: 50%;
  font-size: 2rem;
}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  column-gap: 1rem;
  font-size: 1rem;
}

.btnDark{}