.home {
  background-color: #fafafa;
  width: 100vw;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.homeDark{
  background-color: #202c37 !important;
}

.forms {
  padding: 1.5rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
