.header {
  background-color: #fff;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0rem -0.1rem 0.4rem 0.1rem #000;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 0.5rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
